<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>header</title>
</head>

<body>
  <header th:fragment="header" id="header">
    <a th:href="@{/}">
      <h1 class="logo">MÖBIGRESS
        <span class="css-br">勤怠管理システム</span>
      </h1>
    </a>
    <nav id="navigaion">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-target" th:href="@{/uploadindex}">
            <p class="nav-title">勤務登録</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-target" th:href="@{/downloadindex}">
            <p class="nav-title">勤務表出力</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-target">
            <p class="nav-title">レポート</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-target">
            <p class="nav-title">マスタ管理</p>
          </a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <label class="nav-target">管理者 太郎</label>
        </li>
        <li class="nav-item">
          <a class="nav-target">
            <p class="nav-title">ログアウト</p>
          </a>
        </li>
      </ul>
    </nav>
  </header>
</body>

</html>