<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" th:href="@{/resources/app/css/styles.css}" type="text/css"
    media="screen, projection"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?date=201907131356}">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
		<script th:src="@{/js/common.js}"></script>
	<title th:replace="${title}">title</title>
</head>
<body>
    <header th:replace="~{layout/header :: header}"></header>
    <div th:replace="${body}"></div>
    <footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>
